@import "bootstrap-sprockets";
@import "bootstrap";

/* Mixins, variables */

$dark-brown: #663300;
$light-brown: #996633;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* Universal */

#logo {
  float: left;
  padding: 15px 15px;
}

body {
  padding-top: 120px;
}

.navbar {
  text-align: center;
  .nav {
  	float:none;
    li {
    	display:inline-block;
    	float:none;
    	vertical-align:middle;
      a {
        color: white;
        &:hover {
          background-color: $dark-brown;
          color: #ff9900;
        }
        &:visited {
          background-color: $dark-brown;
        }
        &:active {
          background-color: $dark-brown;
        }
      }
    }
  }
}

.dropdown:focus:not(:hover) {
  background-color: $dark-brown;
}

.navbar-logo {
  background-color: $dark-brown;
  text-align: right;
  padding-right: 50px;
}

.navbar-main {
  background-color: $light-brown;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle
{
  background-color: $dark-brown;
}

.dropdown-bg {
  background-color: $dark-brown;
}

/* Footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-light;
  color: $gray-light;

  a {
    color: $gray;
  }

  a:hover {
    color: $gray-darker;
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* Forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box-sizing;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  margin-left: 18px;
  span {
    margin-left: 5px;
    font-weight: normal;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.alert {
  border: 1px solid;
  padding: 8px 35px 8px 14px;
  text-align: center;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

h3 {
  font-size: 1.1em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
